@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --purplebtn: #860ac6;
    --white: #fff;
    --black: #000000;
    --gray: #fbfbfb;
    --purpleeffect: #c85aff;
    --grayb: #cfcfcf;
    --graybb: #f3f3f3;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}

html {
    width: 100%;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.297);
}

header img {
    width: 3.5rem;
    margin-left: 3rem;
}

header button {
    background-color: var(--purplebtn);
    border: none;
    color: white;
    padding: 9px 12px;
    border-radius: 1rem;
    cursor: pointer;
    margin-right: 3rem;
}

.flexbox-section01 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-section01 img {
    width: 21rem;
}

.titulo {
    font-size: 2em;
    width: 200px;
    font-weight: 600;
}

.texto {
    width: 500px;
}

.box01 {
    background-color: var(--black);
    padding: 2rem;
    border-radius: 1rem;
}

.box01 p {
    color: var(--white);
}

.box02 {
    background-color: var(--white);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.291);
}

.image-section02 img {
    width: 26.5rem;
}

.flexbox-section02 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-section-p {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

.text-section-p p{
    font-weight: 400;
    font-size: 1rem;
}

.texto-section02 {
    width: 550px;
}

.texto-section02 h2 {
    font-weight: 600;
    font-size: 2.3rem;
}

i {
    margin-right: 0.3rem;
    transform: rotate(315deg);
}

nav a {
    font-weight: 600;
    text-decoration: none;
    color: var(--purplebtn);
}

nav a:hover {
    text-decoration: underline;
}

#account {
    margin-left: 0.3rem;
    transform: rotate(225deg);
    color: var(--purplebtn);
}

.section01 {
    padding: 8em;
    background-color: var(--gray);
}

.section02 {
    padding: 3.5rem;
    background-color: var(--graybb);
}

.flexbox-section03 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    flex-wrap: wrap;
}

.flexbox-section03 div {
    text-align: center;
}

.purple {
    background-color: var(--purpleeffect);
    padding: min(1rem, 32px);
    border-radius: 0.5rem;
    color: white;
    font-size: 1.1rem;
}

.black {
    background-color: var(--purplebtn);
    padding: min(1rem, 32px);
    border-radius: 0.5rem;
    color: white;
    font-size: 1.1rem;
}

.white {
    background-color: var(--grayb);
    padding: min(1rem, 32px);
    border-radius: 0.5rem;
    color: var(--purplebtn);
    font-size: 1.1rem;
}

span {
    font-weight: 600;
    font-size: 1.5rem;
}

.image img {
    width: 25rem;
}

.texto-section03 {
    width: 500px;
}

.section03 {
    padding: min(20vh, 3rem);
}

button {
    background-color: var(--purplebtn);
    color: var(--white);
    padding: min(0.6rem, 50px);
    border: 2px solid var(--white);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 00.50s ease;
    margin: 0.5rem;
}

button:hover {
    transform: scale(1.1);
}

@media (max-width: 468px) {
    header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .flexbox-section01 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .section01 {
        padding: 1.5em;
    }
    
    .box {
        padding: 2rem;
        text-align: center;
        width: 100%;
    }

    .texto {
        width: 100%;
    }


    .section02 {
        padding: 5rem;
    }

    .flexbox-section02 {
        display: flex;
        flex-direction: column;
    }

    .texto-section2 {
        width: 100%;
        text-align: center;
    }

    .image-section02 img {
        width: 100%;
        border-radius: 1rem;
        border: 2px solid var(--purplebtn);
        box-shadow: 0 0 1rem var(--purpleeffect);
    }

    .image-section01 img {
        width: 100%;
    }

    .cellphone img {
        width: 100%;
    }

    .link-nubank a {
        background-color: #860ac6;
        color: white;
        padding: 1rem;
        border-radius: 0.8rem;
        text-decoration: none;
    }

    #account {
        color: #ffffff;
    }

    .flexbox-section03 div {
        width: 100%;
    }

    .image img {
        width: 100%;
    }
}

@media (max-width: 1024px)and (min-width:768px) {
    header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .flexbox-section01 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .section01 {
        padding: 1.5em;
    }
    
    .box {
        padding: 2rem;
        text-align: center;
        width: 100%;
    }

    .texto {
        width: 100%;
    }

    .texto p {
        font-size: 1.8rem;
    }

    .section02 {
        padding: 5rem;
    }

    .flexbox-section02 {
        display: flex;
        flex-direction: column;
    }

    .texto-section2 {
        width: 100%;
        text-align: center;
    }

    .text-section-p p {
        font-size: 1.5rem;
    }

    #texto-p {
        font-size: 1.5rem;
    }

    .image-section02 img {
        width: 100%;
        border-radius: 1rem;
        border: 2px solid var(--purplebtn);
        box-shadow: 0 0 1rem var(--purpleeffect);
    }

    .image-section01 img {
        width: 100%;
    }

    .cellphone img {
        width: 100%;
    }

    .link-nubank a {
        background-color: #860ac6;
        color: white;
        padding: 1rem;
        border-radius: 0.8rem;
        text-decoration: none;
    }

    #account {
        color: #ffffff;
    }

    .flexbox-section03 div {
        width: 100%;
    }

    .image img {
        width: 100%;
    }
}